#page-header-banner {
  background-attachment: fixed;
  height: 40vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
  transition: 0.3s all ease-in-out;
  background: rgb(7, 106, 176);
  position: relative;
}
#page-header-banner::before {
  content: "";
  position: absolute;
  right: inherit;
  height: 100%;
  top: 0;
  right: 0;
  mix-blend-mode: soft-light;
  background: linear-gradient(233deg, #fff 5%, hsla(0, 0%, 100%, 0.01) 95%);
  clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%);
  width: 56%;
  pointer-events: none;
}
#page-header-banner h2 span {
  font-size: 65px;
  color: #fff;
}
#page-header-banner p {
  font-size: 25px;
  color: #fff;
}
@media screen and (max-width: 700px) {
  #page-header-banner {
    height: 35vh !important;
  }
}
@media screen and (max-width: 500px) {
  #page-header-banner {
    height: 25vh !important;
  }
  #page-header-banner h2 span {
    font-size: 55px;
  }
  #page-header-banner p {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  #page-header-banner {
    height: 20vh !important;
  }
  #page-header-banner h2 span {
    font-size: 45px;
  }
  #page-header-banner p {
    font-size: 17px;
  }
}
